* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v20/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    border: 10px solid black;
    padding: 10px;
    height: 100vh;
    font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: 10px;
}

main {
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: start;
   align-items: center;
   margin-top: 10%;
}

section {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 450px;
    font-size: 1.5em; 
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

button {
    background-color: steelblue;
    font-size: 1.25rem;
    padding: 5px 10px;
    margin: 10px;
    border: none;
}

button:visited {
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
    border: none;
}

button:hover {
    background-color: rgb(109, 165, 211);
    color: whitesmoke;
    border: none;
}

button.ans {
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 5px 0;
    margin-bottom: 10px;
    text-decoration: underline;
}

li {
    list-style: none;
}

/**header**/
header a.view-hs {
    margin: 0 10px;
}

/**timer**/
div#timer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#timer span {
    margin: 0 10px;
}

div#box {
    display: flex;
    align-items: center;
    height: 1.5em;
    width: 3em;
}

/**intro screen**/
section#intro {
    display: flex;
    align-items: center;
    text-align: center;
}

section#intro h1{
    margin: -10px;
}

section#intro p{
    padding-bottom: 10px;
}

/*question cards*/
section.question {
    display: flex;
    flex-direction: column;
}

section.question p{
    padding-bottom: 10px;
}

button.ans {
    width: 100%;
}

/*final score card*/
section#finalscore {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

form {
    padding:10px 0px;
}

#initials {
    height: 2rem;
}

#submit {
    background-color: steelblue;
    font-size: 1.25rem;
    padding: 5px 10px;
    margin: 10px;
    border: none;
}

#submit:visited {
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
    border: none;
}

#submit:hover {
    background-color: rgb(109, 165, 211);
    color: whitesmoke;
    border: none;
}

p#visit {
    text-align: center;
}

/*Highscores*/
section.scores {
    display: flex;
    flex-direction: column;
}

section.scores li {
    background-color: rgb(109, 165, 211);
    padding: 5px 10px;
    margin: 5px 0;
}

div#hs-buttons {
    display: flex;
    flex-direction: row;
}

/*mobile*/
@media screen and (max-width: 460px) {
    :root {
        font-size: 10px;
    }

    body {
        background-color: cadetblue;
        color: black;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    h1 {
        font-size: 2rem;
    }

    a:link {
        text-decoration: none;
        color: black;
    }
    
    a:visited {
        text-decoration: none;
        color: black;
    }
    
    a:hover {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    button {
        background-color: slategray;
        color: whitesmoke;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 5px 10px;
        margin: 10px;
        border: none;
    }
    
    button:visited {
        background-color: slategray;
        padding: 3px;
        margin: 3px;
        border: none;
    }
    
    button:hover {
        background-color: slategray;
        color: whitesmoke;
        box-shadow: 0 0 5px 5px magenta;
        border: none;
    }

    header.head {
        padding: 0;
        margin: 0;
    }
    div#box {
        width: 50px;
    }
    main {
        margin-top: 15%;
        padding: 0 15px;
    }

    section {
        padding: 5px;
        background-color:lightcyan;
        border: 3px solid slategray;
    }

    button.ans {
        width: 90%;

    }
    form {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    #initials {
        width: 95%;
        align-self: center;
    }
}